

@{
    ViewBag.Title = "ListCommentByPostID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var post = ViewBag.post;
}
@section header{
    Quản lý đánh giá
}


<div id="result-data" data-id="@post.ID">

</div>


<script>
    var obj = {
        init: function () {
            this.load();
            this.GetCommentAjax();
            this.delete();
            this.clickPaginnation();
        },
        load: function () {
            obj.GetCommentAjax();
        },
        clickPaginnation: function () {
            $("body").on("click", ".btn-pagin", function () {
                var page = $(this).data("page");
                var pageSize = $(this).data("pagesize");

                obj.GetCommentAjax(page, pageSize);
            })
        },
        delete: function () {
            $("body").on("click", ".btn-delete", function () {
                var id = $(this).data('id');
                var check = confirm("Bạn có muốn xóa đánh giá này?");

                if (check) {
                    $.ajax({
                        url: "/AdminComment/Delete",
                        data: { id: id },
                        type: "GET",
                        success: function (response) {
                            if (response == 1) {
                                window.location.reload();
                            }
                        }
                    })
                }
            })
        },
        GetCommentAjax: function (page = 1, pageSize = 5) {
            var postID = $("#result-data").data('id');
            $.ajax({
                url: "/AdminComment/CommentListByPostIDPartial",
                data: { postID: postID, page: page, pageSize: pageSize },
                type: "GET",
                success: function (response) {
                    if (response) {
                        $("#result-data").empty();
                        $("#result-data").prepend(response);
                    }
                }
            })
        },
    }

    obj.init();
</script>
