@model SEO_WEB.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="~/Assets/Client/css/style2.css" rel="stylesheet" />
</head>
<body>
    <div class="min-h-screen flex justify-center items-center bg-gray-100">
        @using (Html.BeginForm("Login", "AdminAccount", FormMethod.Post, new { @class = "w-96" }))
        {

            <h1 class="font-bold text-center text-2xl">LOGO</h1>
            <div class="bg-white shadow-md w-full rounded-sm p-5">

                <label class="font-semibold text-sm">Tài khoản</label>
                @Html.TextBoxFor(Model => Model.Username, new { @class = "border rounded-sm px-3 py-2 mt-1 w-full" })

                <br /><br />

                <label class="font-semibold text-sm">Mật khẩu:</label>
                @Html.PasswordFor(Model => Model.Password, new { @class = "border rounded-sm px-3 py-2 mt-1 text-sm w-full" })
                <br /><br />

                <input type="submit" class="btn btn-primary mt-0" value="Đăng nhập" />

                <span class="text-sm text-lightBlue-700 block">
                    <a href="/dang-ky-tai-khoan" style="margin-left: 30px;">Đăng ký</a>
                </span>
                  
            </div>
        }
    </div>

</body>
</html>
