@model List<SEO_WEB.Models.City>

<div class="flex flex-wrap">
    @foreach (var item in Model)
    {

        <div class="des-card">
            <div class="des-card__main">
                <!-- 160 x 160 -->
                <a href="/bai-viet-tong-hop/@item.Alias">
                    <img alt="@item.Alt"
                         class="des-card__image"
                         src="~/Assets/Admin/images/city/@item.Avatar~/Assets/Admin/images/city/@item.Avatar" />
                    <div class="flex-grow">
                        <h4 class="des-card__title">
                            <a href="/bai-viet-tong-hop/@item.Alias">@item.DisplayName</a>
                        </h4>
                        @*<p class="text-gray-500">25 điểm tham quan</p>*@
                    </div>
                </a>
            </div>
        </div>
    }

</div>
